.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both; }
}
.display{
    text-decoration: none;
    list-style: none;
    display: inline-block; 
}
hr{
  width: 500px;
  margin: 10px auto;
}

.zakazat(@_margin:750px,@_marg_right:219px,
@_top:30px, ){
 img{
  float: left;
  margin-top: 6px;
  margin-left:  @_margin;
 }
input{
  width: 227px;
  height: 36px;
  border: 1px solid #c9dced;
  border-radius: 15px;
  background: #ffdcc8;
  margin: 0 415px;
  float: right;
  margin-right: @_marg_right;
  margin-top: 10px;
 }
button{
width: 227px;
height: 36px;
background: red;
border: 1px solid #e4b8b8;;
border-radius: 10px;
float: left;
margin-left: 795px;
margin-top: @_top;
cursor: pointer;
 }
}


/*------------------*/
.otzov(@_float:left,@_flot:right,){
.otz{
  float:@_float;
  }
span{
  font-weight: bold;
  font-size: 25px;
}
p{
  font-size: 20px;
 }
 .righ{
  float: @_flot;
 }
.vi{margin-left: 503px;
  }
#la{
font-size: 25px;
font-weight: bold;
  }
}