*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import "max";

.wrapper{
  width: 1240px;
  margin: 0 auto;
}
.header{
  .clearfix();
   background-image: url(../img/1px.png);
   width: 100%;
   height: 65px;
   position: fixed;
   text-align: center;
a,li{
    text-decoration: none;
    list-style: none;
    display: inline-block; 
    color: #fff;
    padding: 0 10px;
    font-size: 22px;
&:hover{
    color:#AE7965;
  }
}
#cnop{
  background: #e67e04;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background:red;
  }
}

}
.banner{
    .clearfix();
    width: 100%;
    height: 650px;
    background-position: center;
    background-image: url("../img/baner.png");

.logo{
    margin: 75px 0;
    text-align: center;
 }    
p{
  font-size: 50px;
  color:#fff;
text-shadow: -5px -3px 8px #000000;
}
#font{
  font-size: 34px;
  text-shadow: -5px -3px 8px #000000;
 }

}
/*--------Часи-------*/
.content1{
  .clearfix();
  text-align: center;
p{ 
  font-size: 35px;
  font-weight: bold;
 }
 img{padding: 10px 0;}
}
/*-------Блок--2---------*/
.udivi{
  .clearfix();
  padding: 30px 0;
p{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#nod_zag{
  font-size: 24px;
 }
#vhodit{
font-size: 20px;
 }

}

/*-------круги -------*/
.circl{
  .clearfix();
  text-align: center;
 li{
  .display;
  padding: 0 40px;
  overflow: hidden;
  margin-top: 50px;
 }
p{
  width: 200px;
  top:10px;
 } 
}
/*-----Это для вас, если:-----*/
.dla{
  .clearfix();
  padding: 20px;
p{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
 }
li{ 
  list-style: none;
  margin-left: 380px;
  }
}
/*______________Fon___________*/
.fon{
  .clearfix();
  height: 425px;
  background-image: url("../img/fon.png");
  text-align: center;
.podarok{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
 }
#zakaz{
  font-size: 22px;
 }
#ost{
  float: right;
  margin-right: 300px;
 }
.zakazat(@_margin:750px,@_marg_right:219px,
@_top:30px, );
}
/*-------Адрес---------------*/
.adres{
  .clearfix();
p{
 text-align: center; 
 font-size: 35px;
  font-weight: bold;
 }
 ul{
  text-align: center;
 }
li{
  .display;
  margin: 0 20px;
  }
.gorod{
font-size: 20px;
width: 199px;
 }
}
/*--------------*/
.usluga{
  .clearfix();
  background: #ece1ff;
 #dop{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
  padding: 10px 0;
  }
p{
padding: 20px 0;
text-align: center;
font-size: 21px;
}
 li{
  margin: 0 111px;
  list-style: none;
  display: inline-block;
 }
.trin{
margin: 2px 433px;
 }
button{
  width: 185px;
  height: 47px;
  color: #fff;
  background: red;
  border-radius: 10px;
  font-size: 25px;
 }
input{
width: 120px;
height: 34px;
font-size: 22px;
color: #000;
background: #cccc9c;
border-radius: 10px;
 }
}
/*--------------*/
.keus{
  .clearfix();
#client{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
.otzov(@_float:left, @_flot:right);
 }
.keuss{
  margin-top: 340px;
  .otzov(@_float:right, @_flot:left);
.wo{
 text-align: center;
 margin-top: 300px;
 font-size: 30px;
 }
button{
  height: 65px;
  width: 425px;
  font-size: 30px;
  background: red;
  border-radius: 10px;
  margin: 10px 390px;
  cursor: pointer;
 }
.ci{
 text-align: center;
 font-size: 30px;
 }
.cr{
  margin: 10px 0;
  text-align: center;
  font-size: 25px;
 }
.cz{
 font-size: 30px;
 font-weight: bold;
 text-align: center;
 }
}
/*---------------*/
.circ{
  .clearfix();
li{
 display: inline-block; 
 margin: 0 65px;
 }
.vse{
  width: 973px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 50px 0;
  margin: 0 auto;
 }
}
/*------------------------*/
.fonts2{
  .clearfix();
  height: 425px;
  background-image: url("../img/fon2.png");
  text-align: center;
  .zakazat(@_margin:668px,@_marg_right:291px,
  @_top:51px,);
.akc{
  width: 500px;
  color: #fff;
  text-align: center;
  margin: 0px 585px;
 }
span{
  color: #fff;
  margin-left: 398px;
 }
#ost{
  color: #fff;
margin-left: 399px;
 }
}
/*--------===========*/
.malo{
  .clearfix();
.mne{
  padding:20px 0;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
 }
.esli{
  width: 680px;
  float: left;
 }
}
/*____________________*/
.im{
li{
 text-align: center;
margin: 5px 64px;
display: inline-table;
 }

 p{width: 251px;}
}
/*--------------------*/
.efect{
  .clearfix();
padding: 10px 0;
background: #dceffd;
.ef{
font-size: 27px;
font-weight: bold;
text-align: center;
width: 521px;
margin: 0 auto;
 }
img{
  margin: 0 146px;
 }
.cka{
  width: 659px;
  margin: 0 auto;
 }
.you{
  height: 54px;
  width: 213px;
  border-radius: 10px;
  background: red;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
 }
.you1{
  margin: 0 365px;
  margin-left: 238px;
  background: #d06803;
  height: 54px;
  width: 213px;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
 }
li{.display;
  margin-left: 213px;
  margin-top: 60px;
}
.prog ,.prog1 ,.prog2{
 font-weight: bold;
 font-size: 25px;
 margin: 0 50px;
 }
}
/*---------------------*/
.pod_foot{
  .clearfix();
p{
  width: 600px;
  text-align: center;
  margin: 0 auto;
  font-size:25px;
  font-weight: bold;
 }
img{
  margin: 0 170px;
 }
button{
  background: red;
  color: #fff;
  height: 44px;
  width: 200px;
  margin-left: 300px;
  cursor: pointer;
 }
}
/*--------------------*/
.fot{
  .clearfix();
  height: 335px;
  background-image: url("../img/pod_f.png");
  text-align: center;
  color: #fff;
img{
  float: left;
  margin-top: -147px;
  margin-left: 250px;}
input{
  width: 227px;
  height: 36px;
  border: 1px solid #c9dced;
  border-radius: 15px;
  background: #ffdcc8;
  margin: 0 415px;
  float: right;
  margin-right: 291px;
  margin-top: 22px;
 }
button{
  width: 227px;
  height: 36px;
  background: red;
  border: 1px solid #e4b8b8;
  border-radius: 10px;
  float: left;
  margin-left: 723px;
  margin-top: 51px;
  cursor: pointer;
 }
}
/*-------------------*/
.footer{
 .clearfix();
  color: #fff;
  height: 192px;
  background-image: url("../img/footer.png");
img{
  width: 1240px;
  }
.vop{
  font-weight: bold;
  font-size: 27px;
}
button{
  background: #e67e04;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background:red;
  }
 }
ul{
  float: right;
  margin: 40px 189px;
  list-style: none;
 }
}